@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.body{
}
.header {
  display: flex; /* Make it a flex container */
  justify-content: space-between; /* Distribute items with space */
  align-items: flex-start; /* Align items to the top */
}
.profile{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 35%;
  top: 27%;
  border-radius: 50%;
}
.profile img{
  height: 300px;
  border-radius: 50%;
}
.like {
  display:none;  /*ye maine bus kuch time ke liye hide kiya hai likes counter app hai ye */
  width: 110px;
  /*height: 1px;*/
  position: absolute;
  right: 30%;
  top: 50%;
  border:1px solid #DEEBF8;
  border-radius: 20%;
  /*justify-content: center;*/

  /*border-color: #DEEBF8;*/
}
.like button{
  background: transparent;
  border: none;
}
.like button img{
  width: 40px;
}
.likeText{
  width: 30px;
  position:relative;
  right: 20%;
  top: 60%;
}
.like p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
}
.like button:hover{
  background-color:#282D35;
  border-radius: 20%;
  border:1px solid #DEEBF8;
  width: 60px;
  border-right: none;
  cursor: pointer;
}
.home-container {
  text-align: center;  /* Center content horizontally */
  min-height: 100vh;   /* Make container take full viewport height */
  display: flex;       /* Use flexbox for centering */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center vertically */
  position: relative;
}

.home-title {
  color: white;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  margin-left: 50px;
  position: relative;

  /* Add more styles as desired */
}
#FD{
  color: orange;
}
