@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lilita+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Jersey+20&family=Permanent+Marker&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  overflow-x: hidden;

}
.video-background {
  position: fixed;      /* Cover entire viewport */
  top: 0;
  left: 0;
  width: 100%;          /* Full width */
  height: 100%;         /* Full height */
  object-fit: cover;    /* Maintain aspect ratio */
  z-index: -1;          /* Place behind other content */
}

.header {
  width: 100%;
  background-blend-mode: soft-light;
  display: flex; /* Make it a flex container */
  justify-content: space-between; /* Distribute items with space */
  align-items: flex-start; /* Align items to the top */
}
.profile{
  /*visibility: hidden;*/
  display: flex;
  justify-content: center;
  /*position: absolute;*/
  z-index: -1;
  /*right: -25%;*/
  top: 25%;
  position: relative;
  margin-top: 18%;
  text-align: center;
  width: 100%;
  align-items: center;

}
.profile img{
  height: 650px;
  margin-left: 25%;
  border-radius: 30%;
  /*border: 1px solid white;*/
  /*width: 40%;*/
  position: inherit;
}
.profile p{
  color: lightgray;
  position: inherit;
  font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight:20;
  font-style: normal;
  font-size: 4vh;
  width: 100%;
  margin-top: 5%;
  left: 7%;
}
.like {
  display:none;  /*ye maine bus kuch time ke liye hide kiya hai likes counter app hai ye */
  width: 110px;
  /*height: 1px;*/
  position: absolute;
  right: 30%;
  top: 50%;
  border:1px solid #DEEBF8;
  border-radius: 20%;
  /*justify-content: center;*/

  /*border-color: #DEEBF8;*/
}
.like button{
  background: transparent;
  border: none;
}
.like button img{
  width: 40px;
}
.likeText{
  width: 30px;
  position:relative;
  right: 20%;
  top: 60%;
}
.like p {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bolder;
}
.like button:hover{
  background-color:#282D35;
  border-radius: 20%;
  border:1px solid #DEEBF8;
  width: 60px;
  border-right: none;
  cursor: pointer;
}
.home-container {
  height: 100%;
  /*text-align: center;  !* Center content horizontally *!*/
  min-height: 100vh;   /* Make container take full viewport height */
  display: flex;       /* Use flexbox for centering */
  /*flex-direction: column; !* Align items vertically *!*/
  /*justify-content: center; !* Center vertically *!*/
  position: relative;
  align-items: center;
  width: 100%;
  /*top: 0;*/
  left: 5%;

  /*margin-top: 35%;*/
}
.tech-container{
  /*border: 1px solid white;*/
  width: 100%;
  height: 700px;
  margin-top: 15%;

}
.tech-container h1{
  font-size: 70px;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color: orange;
}
.tech-stack{
  width: 100%;
  height: auto;
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30%
}
.tech-stack img{
  height: 100px;
}

#FD:hover{
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: coral;
  cursor: pointer;
}
.home-title {
  color: white;
  /*font-family: "Satisfy", cursive;*/
  /*font-weight: 400;*/
  /*font-style: normal;*/
  font-size: 60px;
  /*margin-left: 50px;*/
  position: relative;
  left: 0;

  /* Add more styles as desired */
}
#FD{
  color: orange;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
#yes{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal
}
#ttl{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 120px;
  /*margin-left: 750px;*/
  align-items: center;
  /*top:0%;*/
  width: 100%;
  height: 120px;
  /*left: 190%;*/
  font-size: 60px;
  color: white;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;

}


.main {
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  justify-content: center;/* Adjust spacing from navbar */

}



.pj-wrap {
  /*z-index: -1;*/
  width: 100%;
  display: inline-grid;  /* Create an inline grid */
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  column-gap: 100px;
  row-gap: 10%;
  /*margin-top: 30px;*/
  position: relative;

  margin-left: 4%;
  margin-right: 4%;
}

.pj-wrap button {
  height: 570px;
  background-color: transparent;
  width: 900px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0,0,0, 0.3);
  padding: 20px;
  text-align: left;
  /*border: 2px solid white;*/
}
.pj-wrap button:hover{
  cursor: pointer;
  border: 2px solid white;
  color: white;
  letter-spacing: 4px;
}

/* Responsive Adjustment */
@media (max-width: 600px) {
  .pj-wrap {
    grid-template-columns: 1fr;  /* Stack buttons on smaller screens */
  }
}

.pj-wrap button label{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-left: 30%;
  /*color: white;*/
}
@media (max-width: 600px) {
  .profile img {
    height: 50vh; /* Adjust the image height for mobile view */
  }

  .home-title {
    font-size: 30px; /* Adjust the font size for mobile view */
  }

  .pj-wrap {
    grid-template-columns: 1fr;  /* Stack buttons on smaller screens */
    margin-left: 0; /* Remove the left margin on smaller screens */
  }

  .pj-wrap button {
    width: 90vw; /* Adjust the button width for mobile view */
    height: auto; /* Make the button height auto for mobile view */
  }

  .pj-wrap button label {
    font-size: 20px; /* Adjust the label font size for mobile view */
    margin-left: 10%; /* Adjust the label margin for mobile view */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .profile img {
    height: 70vh; /* Adjust the image height for tablet view */
  }

  .home-title {
    font-size: 40px; /* Adjust the font size for tablet view */
  }

  .pj-wrap {
    grid-template-columns: 1fr;  /* Stack buttons on tablet screens */
    margin-left: 5%; /* Adjust the left margin on tablet screens */
  }

  .pj-wrap button {
    width: 80vw; /* Adjust the button width for tablet view */
    height: auto; /* Make the button height auto for tablet view */
  }

  .pj-wrap button label {
    font-size: 25px; /* Adjust the label font size for tablet view */
    margin-left: 15%; /* Adjust the label margin for tablet view */
  }
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #33322C;
}
::-webkit-scrollbar-thumb {
  background-color:#072B41 ;
  border-radius: 4rem;
}